<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Credentials</h1>
    <p>
      Your credentials are the following:
    </p>
    <p>
      <b>Username: </b><%= @username %>
    </p>

    <p>
      <b>Password: </b><%= @password %>
    </p>
  </body>
</html>