<h1>Notification</h1>

<div class="form-material form-horizontal">
  <div class="form group">
    <label class="col-md-12"><%= @notification.created_at %></label>
    <div class="col-md-12">
      <p class="form-control form-control-line"><%= @notification.body %> </p>
    </div>
  </div>
</div>