:root {
    --color-pink: #F4A261;
    --color-temp: #FFA69E;
    --color-white: #FFFFFF;
    --color-black: #090909;
}

* {
    outline: 0!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    font-size: 10px;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background: var(--color-white);
    font-family: Rubik, sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: var(--color-black);
    font-weight: 300;
    padding-top: 0;
}

.sidebar {
    background-color: var(--color-white);
    overflow-y: auto;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}


#wrapper .navbar-default {
    border: 0;
    background-color: var(--color-white);
    border-color: #e7e7e7;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav>li {
    position: relative;
    display: block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}


html #side-menu > li > a {
    border-left: 3px solid transparent;
    padding: 15px 35px 15px 20px;
    display: block;
}
html #side-menu li a {
    color: var(--color-black);
    border-left: 0px solid var(--color-white);
}

html #side-menu > li > a:hover, #side-menu > li > a:focus {
    background: var(--color-pink);
}

html #side-menu > li > a.active {
    background: var(--color-pink);
    color: var(--color-white);
    border-left: 3px solid var(--color-pink);
    font-weight: 500;
}

#wrapper .navbar {
  margin-bottom: 0;
}

#wrapper .navbar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--color-white);
    width: 100%;
    padding: .5em;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.navbar-header a {
    color: var(--color-black);
    padding: 0 14px;
    line-height: 60px;
    min-height: 60px;
}

.profile_logo {
    justify-content: flex-end;
}

.profile_logo:hover {
    background-color: var(--color-pink);
}

.profile_logo:hover>a {
    text-decoration: none;
    color: var(--color-white);
}

.img-circle {
    vertical-align: middle;
    margin-right: 10px;
    border: 0;
    border-radius: 50%;
}

@media (min-width: 768px) {
  .sidebar {
      z-index: 1001;
      position: fixed;
      width: 240px;
      padding-top: 0;
      height: 100%;
      transition: .05s ease-in;

  }

  .navbar-header {
      float: left;
  }
}

html .top-left-part {
    width: 240px;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul, menu, dir {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

html a {
    color: var(--color-pink);
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}

html a:hover {
    color: var(--color-black);
}

html .btn a:hover {
    color: var(--color-white);
}



b {
    font-weight: 400;
}

b, strong {
    font-weight: bold;
    font-weight: 700;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
