<%= render partial: '/clients/shared/sidebar' %>

<h1>Search audit</h1>

<%= form_tag search_client_audits_path, method: :get do %>
  <%= text_field_tag :query %>

  <%= submit_tag "Search" %>  
<% end %>