<h1>My purchase list</h1>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Client</th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= link_to "Details", show_report_auditor_audits_path(purchase.report_id) %></td>
        <td><%= link_to purchase.client.username, show_profile_client_path(purchase.client.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
