<h1>My reservation list</h1>

<table>
  <thead>
    <tr>
      <th>Plan</th>
      <th>Client</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= link_to "Details", show_plan_auditor_audits_path(reservation.plan_id) %></td>
        <td><%= link_to reservation.client.username, show_profile_client_path(reservation.client.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
