<h1>Plan</h1>

<div class="form-material form-horizontal">

  <div class="form group">
    <label class="col-md-12">Date</label>
    <p class="form-control form-control-line"><%= @plan.date %></p>
  </div>

  <div class="form group">
    <label class="col-md-12">Products</label>
    <p class="form-control form-control-line"><%= @plan.products %></p>
  </div>

  <div class="form group">
    <label class="col-md-12">Price</label>
    <p class="form-control form-control-line"><%= @plan.price %></p>
  </div>

  <div class="form group">
    <label class="col-md-12">Summary</label>
    <p class="form-control form-control-line"><%= @plan.summary %></p>
  </div>

</div>
