.form-material .form-group {
    overflow: hidden;
}
.form-group, .form-horizontal .form-group {
    margin-bottom: 25px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

html .form-material .form-control, html .form-material .form-control.focus, html .form-material .form-control:focus {
    background-image: linear-gradient(var(--color-pink), var(--color-pink)), linear-gradient(rgba(120, 130, 140, .13), rgba(120, 130, 140, .13));
    border: 0;
    border-radius: 0;
    box-shadow: none;
    float: none;
}

.form-material .form-control {
    background-color: rgba(0, 0, 0, 0);
    background-position: center bottom, center calc(99%);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    padding: 0;
    transition: background 0s ease-out 0s;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background: var(--color-black);
    border: 1px solid var(--color-black);
    border-radius: 3px;
}

.btn a {
  color: var(--color-white);
}

html .btn:hover {
    background: var(--color-pink);
    opacity: .8;
    border: 1px solid var(--color-pink);
    color: var(--color-white);
}

.white-box {
    background: var(--color-white);
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 30px;
}
