<h1>Sold plans</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Client</th>
        <th>Products</th>
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= link_to reservation.client.username, show_client_auditor_path(reservation.client_id) %></td>
          <td><%= reservation.plan.products %></td>
          <td><%= link_to "Plan", show_plan_auditor_audits_path(reservation.plan_id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
