<ul class="nav in" id="side-menu-auditor">
  <li>
    <%= link_to "Dashboard", dashboard_admin_path %>
  </li>

  <li>
    <%= link_to "Terms", admin_terms_path %>
  </li>

  <li>
    <%= link_to "Sign out", sign_out_path %>
  </li>
</ul>
